* {
    margin: 0;
    padding: 0;

    color: rgb(0, 0, 0);
    background-color: white;

    text-transform: lowercase;
    text-align: center;

    position: relative;
    overflow: hidden;

    /*border: red 1px solid;*/

}


body {
    width: 50%;
    height: 50%;
    position: fixed;
    top: 25%;
    left: 25%;
}


h1 {
    margin: 0;
}


h2 {
    margin: 0;
}


li.account {
    position: fixed;
    left: 0;
    top: 0;
}


li.about {
    position: fixed;
    right: 0;
    bottom: 0;
}


.submit {
    position: fixed;
    right: 0;
    top: 0;
}


footer {
    position: fixed;
    bottom: 0;
    left: 0;
}

